h1 {
    color: rgba(153, 153, 214, 0.936);
}

body{
    color: rgba(208, 216, 216, 0.757);
    background-color: #312b2b;
    /*
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: normal;
    Ez teljesen megegyezik az alábbi rövid megadásal: */
    
    font: normal 17px 'Roboto';

    line-height: 1.6em;

    margin: 20;
    background-image: url("../image/oip2.jpg");
    background-repeat: no-repeat;
    /*background-position: left bottom;  */



}

.doboz-1 {
    background-color: #1e1e1e;
    color: aliceblue;
    /*border-right: 2px red solid;*/

    border: 3px #f00 dotted;
    padding: 20px;
    margin-top: 20px;
}

.doboz-1 h1 {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: 800;
   text-decoration: underline;
   text-transform: uppercase;
}


.container {
    width: 600px;
    margin: 10%;
}

a {
    text-decoration: none;
    color: teal;
}

a:hover {
    color: blue;
}

a:active {
    color: purple;
}

a:visited {
    color: green;
}

.doboz-2 {
    border: 3px rgb(54, 82, 12) solid;
    background-color: #1e1e1e;
    color: aliceblue;
    /*border-right: 2px red solid;*/

    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.lista {
    border: 1px grey solid;
    padding: 10px;
    background-color: #312b2b;

    border-radius: 20px;
    text-align: center;
}

.lista h1 {
    text-align: center;
}

.lista ul {
    list-style: square;
}


/* .lista li:last-child {
    color: goldenrod;
} */

.lista li:nth-child(odd) {
    color: goldenrod;
}

.lista li:nth-child(even) {
    color: aquamarine;
}

.lista li:nth-child(3) {
    text-transform: uppercase;
}

.lista li:first-child {
    color: #f00;
}

form {
    margin-top: 20px;
}

form input[type="text"] form input[type="password"] form textarea {
    padding: 10px;
    width: 40%;
}

form input[type="submit"] {
    background-color: #1e1e1e;
    color: azure;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    border-top: 10px;
}

.blokk {
    float: left;
    width: 33.3%;

    border: 3px solid #756666;
    border-block-end-width: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.clearfix {
    clear: both;
}

.dobozka {
    width: 200px;
    height: 200px;
    border: 3px solid #756666;

    margin-top: 10px;
    margin-bottom: 20px;

    position: relative;
}

.dobozka h1 {
    position: absolute;
    top: 10px;
    left: 40px;

}

.button{
    position: fixed;
    background-color: #ba1a1a;
    color: azure;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    border-top: 10px;
}